@font-face {
  font-family: 'Debby';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('Debby.ttf')  format('truetype'), /* Safari, Android, iOS */
}

/* Top Navigation */
.mk-wrapper { position: absolute; width: 100%; display: inline-block;}
.mk-wrapper.navbar-fixed-top { position: fixed; top: 0; left: 0; right: 0; }
.header-logo { position: absolute; z-index: 6; width: 6em; padding-top: 0.5em; float: left; padding-left: 25px; }
.hamburger { display: block; font-size:0.7em; color: white; padding: 5px 10px; margin: 0; position: absolute; top: 18px; right: 60px; z-index: 10; text-transform: uppercase; border: 2px solid white; font-family: $font-2;
	@include laptop { font-size: 0.9em; right: 117px; top:13px;}
}
.services-item { right: 235px; }
.hamburger:hover { border: 2px solid #d1bc8f; }
.back-top:hover, .hamburger:hover { color: #d1bc8f; }
.back-top { width: 2em; display: block; position: absolute; top: 18px; right: 20px; z-index: 10; color: white;
	@include laptop { right: 70px; top: 14px; }
}
.sticky { position: fixed; width: 100%; left: 0; top: 0; z-index: 100; border-top: 0; background: #3e3e3e; height: 66px; }
/* #Top Navigation */


/* Hero */
.hero { height: 100vh; position: relative; background: url('/images/barber-hero.jpg') no-repeat; background-size: cover; text-align: center; z-index: 3;}
.hero-logo { text-align: center; top: 2em; position: relative; width: 13em; margin: 0 auto; }
.hero-text-intro { font-family: $base-font; font-weight: $font-weight-bold; color: white; padding-top: 6em; position: relative; font-size: 2em;
	@include laptop { padding-top: 5em; }
}
.hero-text {font-family: $font-4; color: white; font-size: 5.5em; line-height: 0.7em; padding-top: 0.5em;
	@include palm { font-size: 10em; padding-top: 0.4em; }
	@include laptop { /*font-size: 10em;*/ }
}
.hero-text_sub { font-size: 0.3em; font-family: $base-font; display: block; padding-top: 1em; font-weight: bold;
	@include laptop { /*font-size: 0.3em;*/ }
}
/* #Hero */


/* About */
.about-container { position: relative; padding-top: 8em;}
.about-text { text-align: center; width: 70%; margin: 0 auto; padding-bottom: 5em;
	@include palm { padding-bottom: 15em; }
	@include widescreen { width: 40%; }
}
.about-text_main { font-family: $font-2; font-weight: $font-weight-light; font-size: 1em; text-align: center;
	@include palm { font-size: 1.3em; }
}
.text-width	{ width: 85%; margin: 0 auto; }
.date { font-size: 4em; font-family: $font-3; font-weight: $font-weight-bold; opacity: .15;  text-align: center; position: relative; top: -3.4em; right: 0em; line-height: 1em;
	@include palm { position: absolute; top: 2.6em; font-size: 10em; right: 0em; left: 0em;}
}
/* #About */


/* Services + Hours */
.services-list { list-style: none; text-transform: uppercase; font-family: $font-2;  padding-bottom: 5em; text-align: center; font-size: 0.9em;
	@include palm { padding-bottom: 3em; }
}
.services-list-item { padding: 0.3em 0; color: white; }
.services-memo { text-transform: uppercase; font-weight: $font-weight-light; font-size: 0.8em; padding-bottom: 4em; text-align: center; width: 70%; margin: 0 auto;}
.services { width: 100%; /*padding-bottom: 10em;*/ 
	@include laptop { width: 25%; float: left; padding-top: 5em; }
}
.hours-section, .subscribe-section { width: 50%; float: left; position: relative; padding: 8em 0;}
.hours-list { font-size: 1em; line-height: 2em; }
.services-hero { background-image: url('/images/barberchair.png'); background-repeat: no-repeat; background-size: cover; background-position: center center; height: 45vh; position: relative;}
.services-text { width: 50%; float: left; }
.services-text_p { text-transform: uppercase; padding: 5.5em 0; color: white; font-weight: lighter; font-size: 1.2em; text-align: center; letter-spacing: 1.3px; width: 70%; margin: 0 auto; }
.subscribe_p { font-family: $font-2; width: 70%; margin: 0 auto; text-align: center;}
.newsletter {     text-align: center;
    padding-top: 2em;
    color: #eee;
    border-bottom: 2px solid black;
    width: 40%;
    margin: 0 auto; }
/*.subscribe-section {  }*/
/* #Services + Hours */


/* CTA */
.cta { height: 45vh; background: url('/images/brushes.png') no-repeat; position: relative; background-size: cover;
	/*@include palm { height: 65vh; }*/
}
.cta-text { font-size: 1.4em; text-align: center; padding: 4em 0 0em 0; text-transform: uppercase; font-family: $font-2; font-weight: 700;
	@include palm { font-size: 1.7em; padding: 4em 1em 0em 1em; }
}
/* #CTA */


/* Quote */
.quote { position: relative; 
	@include laptop { width: 100%; overflow: auto; }
}
.quote-img { height: 70vh; position: relative; background: url('/images/barbers2.jpg') no-repeat; background-size: cover; background-position: top right;
	@include laptop { height: 100%; position: absolute; width: 50%; float: left; }
}
.quote-text { padding: 5em 0; height: 40vh;
	@include palm { padding: 0em; position: relative; height: 55vh;}
	@include laptop { width: 50%; float: right;  }
	@include desktop { padding: 3em 0;  }
}
.quote-author { padding: 2em 0; font-weight: bold; text-transform: uppercase; 
	@include laptop { padding: 1em 0; }
}

.cta-subscribe-container { padding: 4em 0 7em; }

/* #Quote */


/* Misc + Reusable Classes */
.spacer { padding: 1em 0; }
.center-image { display: block; margin: 0 auto; padding: 1em 0; width: 3.5em;
	@include palm { padding: 3em 0; }
}
.center-me { text-align: center; }
.clear { clear: both; }
.title { font-family: $base-font; font-weight: $font-weight-bold; font-size: 1.8em; text-align: center; text-transform: uppercase; padding-bottom: 2em; line-height: 1em;
	@include palm { font-size: 1.5em; }
	@include laptop { padding-bottom: 1em; }
}
.title_brand { font-family: $font-4; text-transform: lowercase; font-size: 3em; }
.title-link { color: white; }
.title-link:hover { color: #cdcdcd; }
.title_white { color: white; }
.link_brand a { font-family: $font-4; color: $brand-link; text-transform: lowercase; font-size: 2.5em; padding-top: 1em; display: block; text-align: center;}
.link_brand-black a { color: black; font-size: 3em;}
/* #Misc + Reusable Classes */


/* Button */
.btn { display: block; position: relative; text-align: center; text-transform: uppercase; width: inherit; margin: 0 auto; padding: 0.5em 0; font-weight: bold; }
.btn a {  padding: 0.5em; text-decoration: none;  }
.btn-light a { border: 4px solid #3E3E3E; color: #3E3E3E;}
.btn-light a:visited { color: #3E3E3E; border: 4px solid #3E3E3E; }
.btn-light a:hover { color: #d1bc8f; border: 4px solid #d1bc8f; }
.btn-white a, .btn-white a:visited { color: black; border: 4px solid black; }
.btn-white a:hover { color: white; border: 4px solid white; }
/*.btn-brand a { font-family:  }*/
/* #Button */


/* Footer */
.site-footer { padding: $spacing-unit*2 0 0; /*background-color: black;*/ position: relative; background-image: url('/images/scissors-blk.jpg'); background-size: cover; background-position: top right;
	@include palm { background-position: center center; }
}
.footer-title { color: white; }
.location-title { color: white; font-size: 1.6em !important;}
.location-address { text-align: center; font-family: $font-2; font-weight: lighter; }
.white-line { width: 10%; color: white; margin: 0.3em auto;}
.col-footer { color: white; text-align: center; padding-bottom: 10em; 
	@include laptop { padding-bottom: 7em; }
}
.footer-logo { width: 12em; 
	@include desktop { width: 15em; }
}
.footer-copy { width: 100%; position: relative; color: white; text-align: center; width: 70%; font-size: 0.8em; margin: 0 auto; font-family: $font-2; font-weight: $font-weight-light;}
.copy { padding: 2em 0; width: 100%;
	@include laptop { text-align: left; }
}
.developer-icon { width: 2em; padding-right: 1em;}
.developer { line-height: 3em; padding: 2em 0; width: 100%; 
	@include palm { padding: 0 0 2em 0; }
	@include laptop { text-align: right; }
}
.col3 {
	@include laptop { width: 33%; float: left; }
}
.row { width: 100%; }
.col-2 { 
	@include laptop {width: 45%; display: inline-block; font-size: 0.8em;}
}
/* #Footer */

/* Franchise */
.mk-wrapper2 { position: relative; background-color: #3E3E3E;  width: 100%; display: inline-block; z-index: 100;}
.hero-2 { /*padding: 0 20em; */ width: 70%; margin: 0 auto; }
.franchise-hero { color: black; text-align: center; padding: 1em 0 0.5em; font-size: 4.5em;
	@include palm { font-size: 5.5em; }
}
.hero-text { display: block; }
.franchise-logo { margin: 0 auto; display: block; width: 10em; }
.franchise-title { padding: 5em 0 2em; }

.franchise-form { width: 80%; margin: 0 auto; padding-top: 5em; 
	@include palm { width: 60%; }
	@include desktop { width: 40%; }
}
