
#sampletext { position: absolute; font : italic bold 60px arial; color : #aaaaaa; margin-top : 200px; }
#slideshow > div { position: absolute;  width: 80%; top: 5em; left: 2em; 
  @include laptop { width: 30%; left: 10em; }
}
.marginauto { margin: 0 auto; }
.slideshow-container { display: none;
  @include laptop { position: relative; display: block; }
}