<footer class="site-footer clearfix" id="footer-section">

  <div class="row">
    <img src="/images/icon-comb-white.png" class="center-image" />
    <div class="title footer-title">contact</div>
  </div>
  <div class="row clear">
    <div class="col-footer col3">
      <div class="title location-title">Belvedere<br>
        <hr class="white-line" />
      </div>
      
      <div class="location-address">120 South Belvedere Street<br/>
      Richmond, VA 23220<br/>
      (804) 308-2179</div>
    </div>
    <div class="col-footer col3">
      <img src="/images/tb-logo.png" class="footer-logo" />
    </div>
    <div class="col-footer col3">
      <div class="title location-title">Belvedere<br>
        <hr class="white-line" />
      </div>
      
      <div class="location-address">120 South Belvedere Street<br/>
      Richmond, VA 23220<br/>
      (804) 308-2179</div>
    </div>
  </div>
  <div class="row footer-copy clear">
    <div class="col-2 copy">
      Taylor's Barbershops &copy; 2016. All&nbsp;Rights Reserved.
    </div>
    <div class="col-2 developer">
      <a href="http://theivyproject.com" target="_blank"><img src="/images/leaf.png" class="developer-icon" /></a><br>crafted.
    </div>
  </div>

</footer>
