<footer class="site-footer clearfix" id="contact-section">

  <div class="row">
    <img src="/images/icon-comb-white.png" class="center-image" />
    <div class="title footer-title">contact</div>
  </div>
  <div class="row clear">
    <div class="col-footer col3">
      <div class="title location-title"><a hrerf="https://www.google.com/maps/place/120+S+Belvidere+St,+Richmond,+VA+23220/@37.5437532,-77.45156,17z/data=!3m1!4b1!4m5!3m4!1s0x89b11140c257f50d:0x79f599bd8bf70590!8m2!3d37.5437532!4d-77.4493713" target="_blank" class="title-link">Belvedere</a><br>
        <hr class="white-line" />
      </div>
      
      <div class="location-address">120 South Belvedere Street<br/>
      Richmond, VA 23220<br/>
      (804) 308-2179</div>
    </div>
    <div class="col-footer col3">
      <img src="/images/tb-logo.png" class="footer-logo" />
    </div>
    <div class="col-footer col3">
      <div class="title location-title">
        <a hrerf="https://www.google.com/maps/place/3129+Mechanicsville+Turnpike,+Richmond,+VA+23223/@37.5698478,-77.4030402,17z/data=!3m1!4b1!4m5!3m4!1s0x89b117475c9e4e8b:0xceb9792de001cfe5!8m2!3d37.5698478!4d-77.4008515" target="_blank" class="title-link">Mechanicsville</a><br>
        <hr class="white-line" />
      </div>
      
      <div class="location-address">3129 Mechanicsville Turnpike<br/>
      Richmond, VA 23220<br/>
      (804) 658-4270</div>
    </div>
  </div>
  <div class="row footer-copy clear">
    <div class="col-2 copy">
      Taylor's Barbershops &copy; 2016. All&nbsp;Rights Reserved.
    </div>
    <div class="col-2 developer">
      <a href="http://theivyproject.com" target="_blank"><img src="/images/leaf.png" class="developer-icon" /></a><br>crafted.
    </div>
  </div>

</footer>
